{% extends "layout.html" %}

{% block body %}
<script> 
  let tree_data = JSON.parse('{{ tree_data | safe }}'); // Parse JSON from Flask and use in script
</script>
<div class="min-vh-100 d-flex flex-column">
  <div class="row flex-grow-1">
    <div class="col-md-2 border">
      <nav class="nav flex-column">
        <form action="/treengine" method="POST">
          <button id="create-button" type="submit" name="create-tree" class="btn btn-light">Create Tree</button>
        </form>
        <!-- Default dropend button -->
        <div class="btn-group dropend">
          <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Trees
          </button>
          <ul class="dropdown-menu">
            <!-- Dropdown menu links -->
            {% for row in result %}
              <li>
                <a class="dropdown-item" href="/treengine?tree_id={{ row.id }}">{{ row.tree_name }}</a>
                <form action="/treengine" method="POST">
                  <button id="rename-button" type="submit" name="rename-tree" value="{{ row.id }}" class="btn btn-light">R</button>
                  <button id="delete-button" type="submit" name="delete-tree" value="{{ row.id }}" class="btn btn-light">D</button>
                </form>
              </li>
            {% endfor %}
          </ul>
        </div>
      </nav>
    </div>
    <svg class="col-md-10 border" id="tree-display"></svg>
  </div>
</div>
<div id="context-menu" class="btn-group-vertical" role="group" aria-label="Vertical button group" style="position: absolute">
  <button id="edit-button" type="button" class="btn btn-light">Edit person</button>
  <button id="add-button" type="button" class="btn btn-light">Add parents</button>
  <button id="delete-button" type="button" class="btn btn-light">Remove branch</button>
</div>

{% endblock %}